root {
    display: block;
}

.button {
    -fx-background-color: #9AC5E6;
}

.button:hover {
    -fx-background-color: #80A4BF;
}

.button:disabled {
    -fx-background-color: #A5B2C0;
}

.button:selected {

}

.toggle-button {
    -fx-background-color: #B3B8C2;
    -fx-background-radius: 7px 7px 0 0;
}

#searchButton {
    -fx-background-radius: 0px 7px 7px 0;
}

#searchField {
    -fx-background-radius: 7px 0 0 7px;
}

.toggle-button:hover {
    -fx-background-color: #80A4BF;
}

.toggle-button:hover:selected {
    -fx-background-color: #80A4BF;
}

.toggle-button:selected {
    -fx-background-color: #9AC5E6;
}

.indexed-cell {
    -fx-ellipsis-string: "...";
    -fx-text-overrun: clip;
}

.list-cell {
    -fx-cell-size: 40px;
    -fx-background-color: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #9AC5E6;
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-background-color: #80A4BF;
    -fx-text-fill: white;
}